.input {
  @extend .border-bottom;
  @extend .w-100;
  @extend .p-2;
  // @extend .pb-2
  @extend .my-2;
  // @extend .m
  // @extend .mb-2;
  
  color: $gray-600;
  border: 0;
  box-shadow: -100vw 3px 0px adjust-color($primary, $alpha: -0.8);
  transition: box-shadow 300ms ease-in-out;
  &:focus {
    box-shadow: 0px 3px 0px adjust-color($primary, $alpha: -0.8);
  }
  overflow: hidden;

  outline: none;
}

// .input
